import streamlit as st

.st.about-me {
    background-color: #ffbfa9;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
}

.sub-header {
    font-size: 1.5rem !important;
    color: #4A90E2;
    margin-bottom: 10px;
}